 I would like to visit my homeland Uzbekistan. I grew up in Tashkent, the capital of Uzbekistan. Tashkent is a beautiful city with friendly and welcoming people. I really wish the covid-19 situation will be over soon, so i'll be able to see my family and friends.
